body{
  background-color: #a3bbad;
  padding-left: 5rem;
  padding-right: 5rem;
}

p{
  border: #7EA08C;
  border-radius: 1rem;
  border-style: dashed;
  border-spacing: .2rem;
  box-shadow: #000000;
}

ul {
  list-style-type: none;
}

img {
  border: #7EA08C;
  border-radius: 3.5rem;
  border-style: groove;
  border-spacing: .2rem;
  box-shadow: #000000;
  border-radius: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

iframe {
  border: #7EA08C;
  border-radius: 3.5rem;
  border-style: dotted;
  border-spacing: .2rem;
  box-shadow: #000000;
}

a {
  outline-color: transparent;
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: #ADC2B6;
}

a:visited {
  color:#7EA08C;
}

.noto-sans-thin {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-normal {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  font-variation-settings:
    "wdth" 100;
}

problem-paragraph {
  font-size: medium;
}

site-title {
  font-size: large;
}

button {
  border: none;
  border-radius: 5rem;
  margin: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 12rem;
  height: 2rem;
  transition: all 0.3s ease-in;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
  background-color: #ADC2B6;
}

button:hover {
  cursor:pointer;
  transform: scale(1.25);
  color: #ADC2B6;
  background-color: #7EA08C;
}